body, html {
  height: 100%;

}

.bg-image {
  background-image: url("../images/bg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}


.header{
    color: #65f51b;
    padding: 20px 12px;
    font-family: -webkit-body;
    font-size: 24px;
}

.login-wrap{
	width: 100%;
	margin:auto;
	max-width:510px;
	min-height:510px;
	position:relative;
	background:url(https://maxcdn.icons8.com/app/uploads/2016/03/material-1-1000x563.jpg) no-repeat center;
	background-size: cover;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding: 20px 70px 50px 70px;
	background:rgba(0,0,0,0.5);
}


.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding: 20px 70px 50px 70px;
	background:rgba(0,0,0,0.5);
}


.group{
	margin-bottom:50px;
}
.group .button,a{
	width:100%;
	color:#fff;
	display:block;
	border:none;
	border-radius:25px;
	background:rgba(255,255,255,.1);
	background:#848ea0;
	font-size: 25px;

}
.button:hover{
	background-color: #03A9F4;
	
}


a{
	color: #2d2624;
	text-align: center;
	font-size: 25px;
	text-decoration: none;
}
a:hover,a:active {
	text-decoration: none;
	color:#c12014;
}